@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



:root {
    --desktop-bg: hsl(0, 100%, 74%);
    --alert-bg: hsl(249, 10%, 26%) ;
    --border-color:hsl(246, 25%, 77%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
body {
    font-family: 'Poppins', sans-serif;

}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--desktop-bg);
    background-image: url(../images/bg-intro-desktop.png);
    background-size: 100%;
    display: flex;
    padding: 5em;
}

.sub{
    width: 50%;
    height: 100%;
}

.left{
   
    display: flex;
    align-items: center;
    color: aliceblue;


}
.left h1{
   
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0.5em;
}
.left p {
    width: 80%;
}

/* .right{
    display: grid;
    align-items: center;
    margin-bottom: 0.5em;
} */

 .right form {
    width: 100%;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 10px;
    background-color: white;


} 
.right .alert-box{
    width: 100%;
    color: #fff;
    padding: 1em ;
    border-radius: 8px;
    background-color: var(--alert-bg);
    text-align: center;
    margin-bottom: 1em;

}
form input{
    outline: none;
    border: 1px solid var(--border-color);
    padding: 1em;
    border-radius: 5px;
}

form button{
    width: 100%;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);

}
.inp{
    margin: 20px;
    padding: 1rem;
    
}
.btn{
    
        background-color:  hsl(6, 94%, 69%);
        border: 2px solid #020353;
        color: whitesmoke;
        padding: 1em 1.5em;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        display: inline-block;
        width: 22%;
        border-radius: 5px;
        box-shadow: 3px 3px 8px 0 #000; /* h-offset v-offset blur spread color */
    
}